<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>New Requests <small>(Unattended)</small></nb-card-header>
                <nb-card-body>
    
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Active Requests <small>(Ongoing)</small></nb-card-header>
                <nb-card-body>
    
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Pending Requests</nb-card-header>
                <nb-card-body>
    
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>New Leads</nb-card-header>
                <nb-card-body>
    
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12">
            <nb-card [size]="'large'" accent="info">
                <nb-card-header>Nebula</nb-card-header>
                <nb-card-body>
                    
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>