<div class="container-fluid">
    <div class="row">
        <nb-card>
            <nb-card-header>Add Staff</nb-card-header>
            <nb-card-body>
                <form [formGroup]="staffForm" (submit)="createStaffAccount()">
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <input type="text" formControlName="firstname" shape="semi-round" fullWidth fieldSize="medium" nbInput placeholder="First Name">
                        </div>
                        <div class="col-md-6 my-2">
                            <input type="text" formControlName="lastname" shape="semi-round" fullWidth fieldSize="medium" nbInput placeholder="Last Name">
                        </div>
                        <div class="col-md-6 my-2">
                            <nb-select shape="semi-round" fullWidth fieldSize="medium" formControlName="role" placeholder="Role">
                                <nb-option *ngFor="let r of roles" [value]="r.name | lowercase">{{r.name | lowercase}}</nb-option>
                            </nb-select>
                        </div>
                        <div class="col-md-6 my-2">
                            <nb-select shape="semi-round" fullWidth fieldSize="medium" formControlName="location" placeholder="Location">
                                <nb-option *ngFor="let r of locations" [value]="r.city | lowercase">{{r.city}}</nb-option>
                            </nb-select>
                        </div>
                        <div class="col-md-6 my-2">
                            <input type="email" formControlName="email" shape="semi-round" fullWidth fieldSize="medium" nbInput placeholder="Email">
                        </div>
                        <div class="col-md-6 my-2">
                            <input type="password" formControlName="password" shape="semi-round" fullWidth fieldSize="medium" nbInput placeholder="Temporary Password">
                        </div>
                        <div class="col-md-6 my-2">
                            <input type="text" formControlName="phone" shape="semi-round" fullWidth fieldSize="medium" nbInput placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="my-3">
                        <button type="submit" fullWidth outline status="primary" nbButton>Submit</button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <div class="col-12">
        </div>
    </div>
</div>