<nb-layout>
    <nb-layout-header fixed class="no-print">
        <div style="position: absolute; left: auto;">
            <a href="" (click)="toggle()">
                <nb-icon icon="menu-2-outline"></nb-icon>
            </a>
        </div>
        <div style="padding-left: 30px; left: 15px;">
            <nb-card class=" m-3">
                <nb-select placeholder="Select Location" status="info">
                    <nb-option value="1">Option 1</nb-option>
                </nb-select>
            </nb-card>
        </div>
        <div style="text-align: right; position: absolute; float: right; right: 20px;">            
            <nb-user size="large" name="{{user.firstname | uppercase}} {{user.lastname | uppercase}}"  [nbContextMenu]="contextItems" nbContextMenuTag="my-context-menu" [title]="user.role | uppercase">
            </nb-user>                
        </div>
    </nb-layout-header>
    <nb-sidebar class="no-print">
        <nb-menu [items]="items">
        </nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer class="no-print" fixed>
        <div>Product of <a style="text-decoration: none; color: white;" href="https://amouralinksit.com">Amouralinks</a>
            &copy; 2020</div>
    </nb-layout-footer>

</nb-layout>z