
	<div class="id-card-holder print">
        <div class="id-card" style="background-image: url(../../assets/bg.jpg); background-size: contain;">
            <div class="row">
                <div class="col-12">
                    <!-- <h4>ID CARD</h4> -->
                    <img src="favicon.ico" width="100px" alt="">
                </div>
            </div>            
            <div class="row">
                <div class="col-12 mt-3">
                    <img src="" style="border-radius: 50%;" width="150px" alt="">
                </div>

                <div class="col-12">
                    <div style="font-size: 24px; font-weight: bold; font-variant: small-caps;" class="p-2 mt-2">{{fullname}}</div>
                    <div style="font-size: 12px; font-weight: 700; color: 031f9a !important;" class="p-1">{{userRole | uppercase}}</div>
                    <hr>
                    <div style="font-size: 12px; font-weight: 700; color: 031f9a !important;" class="p-1 mt-1">ErrandMe Ltd</div>
                    <!-- <div style="font-size: 12px;" class="p-1">{{phone}}</div> -->
                </div>
            </div>            
        </div>
    </div>
    <div class="id-card-holder print">
        <div class="id-card">
            <div class="header pb-5">
                <img src="favicon.ico" alt="logo">
                <div style="font-size: 15px; font-style: italic; color: blue;"><small>Our goal is to help you achieve your goals</small></div>
            </div>
            
            
            <hr>
            <div style="font-size: 12px;">if found, please return to :-</div>
            <div style="font-size: 12px;">4a, Effiom Henshaw Close, Off Atimbo, Calabar Municipal, Calabar</div>
            <div style="font-size: 12px;">Ph: 08111136616 | E-mail: helpdesk@errandme.com.ng | www.errandme.com.ng</div>
        </div>
    </div>
<button class="no-print" onclick="window.print()">Print</button>
