<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Services</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: yellow"></div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Staffs</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: red"> </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Applicants</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: blue;">{{applications.length}} </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Locations</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: green;"> </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Agents</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: blueviolet;"> </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Requests</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: green;"> </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Subscribers</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: blueviolet;"> </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3">
            <nb-card [size]="'tiny'">
                <nb-card-header>Others</nb-card-header>
                <nb-card-body>
                    <div style="font-size: 90px; text-align: center; margin: 40px; color: blueviolet;"> </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12">
            <nb-card [size]="'large'" accent="info">
                <nb-card-header></nb-card-header>
                <nb-card-body>                    
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>